<html>
	<head>
		<script type="text/javascript" src="https://www.google.com/jsapi"></script>
		<script type="text/javascript">
			google.load("visualization", "1", {packages:["corechart"]});
			google.setOnLoadCallback(drawChart);
			function drawChart() {
				var data = new google.visualization.DataTable();

				// Declare columns
				data.addColumn('date', 'Date');
				
				<%= raw @graph %>

				var options = {
					title: 'Extension Performance',
					fontSize: 12,
					chartArea: {left: 50, top: 20, width: 1050, height: 750} 
				};

				var chart = new google.visualization.LineChart(document.getElementById('chart_div'));
				chart.draw(data, options);
			}
		</script>
	</head>
	<body>
		<div id="chart_div" style="width: 1300px; height: 800px;"></div>
	</body>
</html>